<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adriano Vieira">

    <link href="http://cdn-server.hacklab:8080/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn-server.hacklab:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1><i class="fa fa-phone"></i> Hello {{yourName}}!</h1>
    </div>

    <script src="http://cdn-server.hacklab:8080/angular/angular.min.js"></script>
  </body>
</html>
